# i3status configuration file.
# see "man i3status" for documentation.

general {
        colors = true
        interval = 5
}

order += "ethernet eth0"
order += "disk /"
order += "load"
order += "tztime local"
order += "tztime time"

ethernet eth0 {
    format_up = " (%speed)"
    format_down = " Down"
}
disk "/" {
    format = "OS: %avail"
}
tztime local {
    format = " %m/%d/%Y"
}
tztime time {
    format = " %H:%M:%S"
}
load {
    format = " %1min"
}
